html, body, #app, #app > div {
    height: 100%
}

body::before {
    content: '';
    position: fixed; /* Фиксируем на одном месте */
    left: 0;
    right: 0; /* Вся ширина */
    top: 0;
    bottom: 0; /* Вся высота */
    z-index: -1;
    background: url('./assets/pexels-anni-roenkae-2457284.jpg') center / cover no-repeat;
    filter: blur(5px); /* Размытие */
}

body {
    margin: 0 auto;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
